// Colors
// ======
// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-gray: #f7f7f7,
  red: #e50612,
  dark-red: #730309,
  dark-blue: #182540,
  light-blue: #32456d,
  grey: #acacac,
  white-transparent40: rgba(255, 255, 255, 0.4)
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values

$colors-border: (
  primary: map-get($colors, white-transparent40)
);

